<div class="footer">
    <div class="footerTop">
     <div class="row inner-padding">
         <div class="large-2 medium-6 small-12 columns footer-widget">
             <h2>Account</h2>
             <div class="tx-div"></div>
             <ul  class="menu vertical">
                 <li><a href="#">My Account</a></li>    
                 <li><a href="#">Shopping Cart</a></li>
                 <li><a href="#">Your Profile</a></li>
                 <li><a href="#">Your Orders</a></li>
                 <li><a href="#">Your Wishlist</a></li>
                 <li><a href="#">Available Coupons</a></li>
             </ul>
         </div>
         
         <div class="large-2 medium-6 small-12 columns footer-widget">
             <h2>Information</h2>
             <div class="tx-div"></div>
             <ul  class="menu vertical">
                 <li><a href="#">Return Policy</a></li>    
                 <li><a href="#">Exchange Policy</a></li>
                 <li><a href="#">Payment Terms</a></li>
                 <li><a href="#">Faq's</a></li>
                 <li><a href="#">Warranty Policy</a></li>
                 <li><a href="#">Track your order</a></li>
             </ul>
         </div>
         
         <div class="large-2 medium-6 small-12 columns footer-widget">
             <h2>Make Money</h2>
             <div class="tx-div"></div>
             <ul  class="menu vertical">
                 <li><a href="#">Become a Retailer</a></li>    
                 <li><a href="#">Become a Wholesaler</a></li>
                 <li><a href="#">Factory Seller's</a></li>
                 <li><a href="#">Earn Comission</a></li>
                 <li><a href="#">How to Ship</a></li>
                 <li><a href="#">Getting Paid</a></li>
             </ul>
         </div>
         
         <div class="large-2 medium-6 small-12 columns footer-widget">
             <h2>Customer Service</h2>
             <div class="tx-div"></div>
             <ul  class="menu vertical">
                 <li><a href="#">Contact Us</a></li>    
                 <li><a href="#">Request Exchange</a></li>
                 <li><a href="#">Customer FAQ's</a></li>
                 <li><a href="#">Happy Customers</a></li>
                 <li><a href="#">Update Shipping Address</a></li>
             </ul>
         </div>
         
         <div class="large-3 medium-6 small-12 columns footer-widget">
             <div class="textwidget">
                 <ul class="address">
                     <li>
                         <i class="fa fa-home"></i>
                         <h4>Address:</h4>
                         <p>132 Jefferson Avenue, Suite 22,
                         Redwood City, CA 94872, USA</p>
                     </li>
                     <li>
                         <i class="fa fa-mobile"></i>
                         <h4>Phone:</h4>
                         <p>(00) 123 456 789</p>
                     </li>
                     <li>
                         <i class="fa fa-envelope"></i>
                         <h4>Email:</h4>
                         <p>Name@gmail.com</p>
                     </li>
                 </ul>
                 <hr>
                 <div class="socialicons">
                     Follow Us: 
                     <a href="#"><i class="fa fa-facebook"></i></a>
                     <a href="#"><i class="fa fa-twitter"></i></a>
                     <a href="#"><i class="fa fa-google"></i></a>
                 </div>
             </div>
         </div> 
     </div><!-- Row /-->
 </div><!-- footerTop Ends here.. -->
 
 <!-- Footer bottom -->
 <div class="footerbottom">
     <div class="row">
         <div class="medium-6 small-12 columns">
             <ul class="menu">
                 <li><a href="index.html">Home</a></li>
                 <li><a href="about.html">About</a></li>
                     <li><a href="blog.html">News</a></li>
                     <li><a href="shop.html">Shop</a></li>
                 <li><a href="contact.html">Contact Us</a></li>
             </ul>
             <div class="clearfix"></div>
             <div class="copyrightinfo">2016 © <a href="#">Webful Creations Vision</a> All Rights Reserved.</div>
         </div><!--left side-->
         <div class="medium-6 small-12 columns hide-for-small-only">
             <div class="payment pull-right">
                 <h2>Payment Methods</h2>
                 <a href="#"><i class="fa fa-cc-mastercard"></i></a>
                 <a href="#"><i class="fa fa-cc-visa"></i></a>
                 <a href="#"><i class="fa fa-cc-paypal"></i></a>
                 <a href="#"><i class="fa fa-cc-discover"></i></a>
                 <a href="#"><i class="fa fa-credit-card"></i></a>
                 <a href="#"><i class="fa fa-cc-amex"></i></a>
             </div>
         </div><!--Right Side-->
     </div>
 </div><!-- footer Bottom -->
</div>