<div>
  <app-hearder></app-hearder>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
      <a class="nav-item nav-link" routerLink="/ngo" *ngIf="isNgo">Ngo</a>
      <a class="nav-item nav-link" routerLink="/applicants" *ngIf="isApplicants">Applicants</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav> -->
