<div class="content-container module">
			
    <!-- Title Section -->
    <div class="title-section">
        <div class="row">
            <div class="small-12 columns">
                <h1>Sign up</h1>
            </div> <!-- title /-->
        </div><!-- row /-->
    </div>
    <!-- Title Section End -->
    
   <div class="spacer module"></div>   
    
    <div class="content-area testimonials-page row">
        <div class="medium-6 medium-offset-3 small-12 columns form-container">
            <h2>Sign up to start shopping</h2>
            <form (ngSubmit)="onSubmit()" #addMilestoneForm="ngForm">
                {{consumer | json}}
                <label>
                    Your Username
                    <input 
                    required
                    [(ngModel)]="consumer.name" name="name"
                    #name="ngModel"
                    type="text" value="" placeholder="Enter username ..." />
                </label>
                
                <label>
                    Your Email address
                    <input
                    required
                    [(ngModel)]="consumer.email" name="email"
                    #email="ngModel"
                    type="text" value="" placeholder="Your Email Address ..." />
                </label>
                
                <label>
                    Chose password
                    <input  required
                    [(ngModel)]="consumer.password" name="password"
                    #password="ngModel" type="password" value="" placeholder="Enter password ..." />
                </label>
                <input type="submit" value="Register" class="button primary" />
            </form>
            <div class="helping-links">
                    <a [routerLink]="[ '/login']">Already member?</a> | <a href="login.html">Forgot password?</a>
                </div>
        </div><!-- columns 12 /-->
        
    </div><!-- content area /-->    
    
</div>